@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
}

::-webkit-scrollbar {
  height: 100%;
  width: 8px;
  background-color: initial;
}
body::-webkit-scrollbar {
  --tw-bg-opacity: 1;
  background-color: #f2f3f5;
}
::-webkit-scrollbar-track {
  background-color: initial;
}
::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  border: 0.125rem solid #f2f3f5;
  background-clip: content-box;
  background-color: #9ba2af;
}

::-webkit-scrollbar-button {
  display: none;
}

body {
  color: #101828;
  background-color: #ffffff;
  font-family: "Inter", serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.btn {
  @apply flex items-center justify-center gap-2 overflow-hidden rounded-md bg-brand-blue-dark px-[18px] py-[14px] font-light text-white outline-none transition duration-300 ease-in-out disabled:cursor-not-allowed;
}

.input {
  @apply h-[50px] w-full rounded-md border bg-transparent px-5 font-light outline-none placeholder-shown:text-[#9CA3AF] focus:border-[#6E80A4] disabled:cursor-not-allowed;
}

.textarea {
  @apply h-auto w-full resize-none rounded-sm border bg-transparent px-3 py-2 font-light outline-none placeholder-shown:text-[#9CA3AF] focus:border-[#6E80A4] disabled:cursor-not-allowed;
}

.msg {
  @apply inline-block w-auto rounded-[12px] bg-white px-2 py-1 text-sm;
}

.msg.user {
  @apply !bg-brand-blue-light;
}

/* Dark theme  */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(var(--hue), 10%, 10%);
    --fg: hsl(var(--hue), 10%, 90%);
  }
}
